.vscode/
.idea/
venv/
.DS_Store
*.pyc
./data/test_running/*
*.json
*.csv
__pycache__
*/save/
fgm/data/
!data/user_study/brain/*
!data/user_study/email_small/*
!data/user_study/email_star/*
!data/user_study/highschool_circle/*
!data/user_study/highschool_complex/*
!data/user_study/road/*
!data/user_study/vis/*